.upload-file-wrapper{
	display: flex;
	flex-direction: column;
}
.action-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0px;
}
.btn-success{
	height: 40px;
}
.xlsx{
	padding: 3px 0px;
}
.explanation{
	padding: 30px 0;
}
.img-title {
	align-self: center;
}
.images-wrapper {
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.before{
	margin-right: 10px;
}